In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('../Resources/cleaned_data.csv')

In [2]:
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,20221210,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,20220908,1045A,GRAY,2017
2,NY,PAS,67,SUBN,TOYOT,20230120,1205P,WHITE,2021
3,NY,PAS,98,SUBN,NISSA,20230121,0535P,BLK,2002
4,FL,PAS,51,SUBN,SUBAR,20230713,0320P,GRAY,2005
5,NY,PAS,63,SUBN,CHEVR,20230103,1102A,WHT,2010
6,NY,PAS,45,SDN,NISSA,20240321,0606P,BLK,2002
7,NY,OMS,14,SDN,TOYOT,20220930,1250P,BLACK,2022
8,NY,PAS,20,SUBN,HONDA,20221205,1031A,RED,2005
9,NY,PAS,27,SDN,NISSA,20220716,0607P,BLACK,2022

In [3]:
df.dtypes

Registration State         object
Plate Type                 object
Violation Code              int64
Vehicle Body Type          object
Vehicle Make               object
Vehicle Expiration Date     int64
Violation Time             object
Vehicle Color              object
Vehicle Year                int64
dtype: object

In [4]:
#seeing how many of each plate type there are
df['Registration State'].value_counts().head(30)

NY    3749277
NJ       3945
99       2975
PA       2129
GA       1780
FL        840
TX        824
CT        750
ME        497
MA        458
CA        426
VA        426
NC        329
OH        199
AZ        193
SC        131
IL        128
DE        124
IN        121
AL         83
TN         82
MI         74
RI         59
VT         55
MD         52
MN         52
AR         50
WA         49
WV         48
NH         43
Name: Registration State, dtype: int64

In [5]:
#creating a dictionary for plate types for custom encoding. Only top 8 wil lbe uniquely encoded. Remaining will be under 'other'
plate_types = {
    'PAS': 1,
    'COM': 2,
    'OMT': 3,
    'SRF': 4,
    '999': 5,
    'OMS': 6,
    'APP': 7,
    'LMB': 8
}

states = {
    'NY': 1,
    'NJ': 2,
    'PA': 3,
    'FL': 4,
    'CT': 5,
    'IN': 6,
    'GA': 7
}

#encoding dicts
body_types = {
    'SUBN':0,
    '4DSD':1,
    'VAN':2,
    'PICK':3,
    'DELV':4,
    '2DSD':5,
    'REFG':6,
    'SDN':7
}

make_types = {
    'HONDA':0,
    'FORD':1,
    'TOYOT':2,
    'NISSA':3,
    'CHEVR':4,
    'ME/BE':5,
    'BMW':6,
    'JEEP':7,
    'FRUEH':8,
    'HYUND':9,
    'SUBAR':10,
    'LEXUS':11
}

In [6]:
#jc
df['Plate Type'] = df['Plate Type'].apply(lambda x: plate_types[x] if (x in plate_types) else 9)
df['Registration State'] = df['Registration State'].apply(lambda x: states[x] if (x in states) else 8)

#aw
df["body_type"] = df["Vehicle Body Type"].apply(lambda x: body_types[x] if x in body_types else 8)
df["make_type"] = df["Vehicle Make"].apply(lambda x: make_types[x] if x in make_types else 12)

In [7]:
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type
0,1,1,67,SDN,TOYOT,20221210,1037A,BLK,2004,7,2
1,1,1,51,SUBN,JEEP,20220908,1045A,GRAY,2017,0,7
2,1,1,67,SUBN,TOYOT,20230120,1205P,WHITE,2021,0,2
3,1,1,98,SUBN,NISSA,20230121,0535P,BLK,2002,0,3
4,4,1,51,SUBN,SUBAR,20230713,0320P,GRAY,2005,0,10
5,1,1,63,SUBN,CHEVR,20230103,1102A,WHT,2010,0,4
6,1,1,45,SDN,NISSA,20240321,0606P,BLK,2002,7,3
7,1,6,14,SDN,TOYOT,20220930,1250P,BLACK,2022,7,2
8,1,1,20,SUBN,HONDA,20221205,1031A,RED,2005,0,0
9,1,1,27,SDN,NISSA,20220716,0607P,BLACK,2022,7,3

In [8]:
df.dtypes

Registration State          int64
Plate Type                  int64
Violation Code              int64
Vehicle Body Type          object
Vehicle Make               object
Vehicle Expiration Date     int64
Violation Time             object
Vehicle Color              object
Vehicle Year                int64
body_type                   int64
make_type                   int64
dtype: object

In [9]:
#removing Violation time data without AM PM indicators
df['Violation Time len'] = df['Violation Time'].apply(len)
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len
0,1,1,67,SDN,TOYOT,20221210,1037A,BLK,2004,7,2,5
1,1,1,51,SUBN,JEEP,20220908,1045A,GRAY,2017,0,7,5
2,1,1,67,SUBN,TOYOT,20230120,1205P,WHITE,2021,0,2,5
3,1,1,98,SUBN,NISSA,20230121,0535P,BLK,2002,0,3,5
4,4,1,51,SUBN,SUBAR,20230713,0320P,GRAY,2005,0,10,5
5,1,1,63,SUBN,CHEVR,20230103,1102A,WHT,2010,0,4,5
6,1,1,45,SDN,NISSA,20240321,0606P,BLK,2002,7,3,5
7,1,6,14,SDN,TOYOT,20220930,1250P,BLACK,2022,7,2,5
8,1,1,20,SUBN,HONDA,20221205,1031A,RED,2005,0,0,5
9,1,1,27,SDN,NISSA,20220716,0607P,BLACK,2022,7,3,5

In [10]:
len(df)

3766509

In [11]:
df = df.loc[df["Violation Time len"] == 5]
len(df)

3766496

In [12]:
df['Violation Time'] = df['Violation Time']+"M"
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len
0,1,1,67,SDN,TOYOT,20221210,1037AM,BLK,2004,7,2,5
1,1,1,51,SUBN,JEEP,20220908,1045AM,GRAY,2017,0,7,5
2,1,1,67,SUBN,TOYOT,20230120,1205PM,WHITE,2021,0,2,5
3,1,1,98,SUBN,NISSA,20230121,0535PM,BLK,2002,0,3,5
4,4,1,51,SUBN,SUBAR,20230713,0320PM,GRAY,2005,0,10,5
5,1,1,63,SUBN,CHEVR,20230103,1102AM,WHT,2010,0,4,5
6,1,1,45,SDN,NISSA,20240321,0606PM,BLK,2002,7,3,5
7,1,6,14,SDN,TOYOT,20220930,1250PM,BLACK,2022,7,2,5
8,1,1,20,SUBN,HONDA,20221205,1031AM,RED,2005,0,0,5
9,1,1,27,SDN,NISSA,20220716,0607PM,BLACK,2022,7,3,5

In [13]:
#removing violation time not in 24:00hr format
df['violation_hour'] = df["Violation Time"].astype(str).str[:2].astype(int)
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len,violation_hour
0,1,1,67,SDN,TOYOT,20221210,1037AM,BLK,2004,7,2,5,10
1,1,1,51,SUBN,JEEP,20220908,1045AM,GRAY,2017,0,7,5,10
2,1,1,67,SUBN,TOYOT,20230120,1205PM,WHITE,2021,0,2,5,12
3,1,1,98,SUBN,NISSA,20230121,0535PM,BLK,2002,0,3,5,5
4,4,1,51,SUBN,SUBAR,20230713,0320PM,GRAY,2005,0,10,5,3
5,1,1,63,SUBN,CHEVR,20230103,1102AM,WHT,2010,0,4,5,11
6,1,1,45,SDN,NISSA,20240321,0606PM,BLK,2002,7,3,5,6
7,1,6,14,SDN,TOYOT,20220930,1250PM,BLACK,2022,7,2,5,12
8,1,1,20,SUBN,HONDA,20221205,1031AM,RED,2005,0,0,5,10
9,1,1,27,SDN,NISSA,20220716,0607PM,BLACK,2022,7,3,5,6

In [14]:
df = df.loc[df["violation_hour"] <= 24]
len(df)

3766491

In [18]:
#correcting space (' ') to '0' in violation time 
df['Violation Time'] = df['Violation Time'].replace(' ', '0', regex=True)
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len,violation_hour
0,1,1,67,SDN,TOYOT,20221210,1037AM,BLK,2004,7,2,5,10
1,1,1,51,SUBN,JEEP,20220908,1045AM,GRAY,2017,0,7,5,10
2,1,1,67,SUBN,TOYOT,20230120,1205PM,WHITE,2021,0,2,5,12
3,1,1,98,SUBN,NISSA,20230121,0535PM,BLK,2002,0,3,5,5
4,4,1,51,SUBN,SUBAR,20230713,0320PM,GRAY,2005,0,10,5,3
5,1,1,63,SUBN,CHEVR,20230103,1102AM,WHT,2010,0,4,5,11
6,1,1,45,SDN,NISSA,20240321,0606PM,BLK,2002,7,3,5,6
7,1,6,14,SDN,TOYOT,20220930,1250PM,BLACK,2022,7,2,5,12
8,1,1,20,SUBN,HONDA,20221205,1031AM,RED,2005,0,0,5,10
9,1,1,27,SDN,NISSA,20220716,0607PM,BLACK,2022,7,3,5,6

In [19]:
#convert to violation time to dataetime format
df["Violation Time"] = pd.to_datetime(df["Violation Time"], format='%H%M%p' ).dt.strftime('%H:%M %p')
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len,violation_hour
0,1,1,67,SDN,TOYOT,20221210,10:37 AM,BLK,2004,7,2,5,10
1,1,1,51,SUBN,JEEP,20220908,10:45 AM,GRAY,2017,0,7,5,10
2,1,1,67,SUBN,TOYOT,20230120,12:05 PM,WHITE,2021,0,2,5,12
3,1,1,98,SUBN,NISSA,20230121,05:35 AM,BLK,2002,0,3,5,5
4,4,1,51,SUBN,SUBAR,20230713,03:20 AM,GRAY,2005,0,10,5,3
5,1,1,63,SUBN,CHEVR,20230103,11:02 AM,WHT,2010,0,4,5,11
6,1,1,45,SDN,NISSA,20240321,06:06 AM,BLK,2002,7,3,5,6
7,1,6,14,SDN,TOYOT,20220930,12:50 PM,BLACK,2022,7,2,5,12
8,1,1,20,SUBN,HONDA,20221205,10:31 AM,RED,2005,0,0,5,10
9,1,1,27,SDN,NISSA,20220716,06:07 AM,BLACK,2022,7,3,5,6

In [20]:
df.drop(columns=['Violation Time len','violation_hour'], axis=1, inplace=True)
df.head()

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type
0,1,1,67,SDN,TOYOT,20221210,10:37 AM,BLK,2004,7,2
1,1,1,51,SUBN,JEEP,20220908,10:45 AM,GRAY,2017,0,7
2,1,1,67,SUBN,TOYOT,20230120,12:05 PM,WHITE,2021,0,2
3,1,1,98,SUBN,NISSA,20230121,05:35 AM,BLK,2002,0,3
4,4,1,51,SUBN,SUBAR,20230713,03:20 AM,GRAY,2005,0,10