In [22]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('../Resources/cleaned_data.csv')

In [23]:
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,1045A,GRAY,2017
2,NY,PAS,67,SUBN,TOYOT,1205P,WHITE,2021
3,NY,PAS,98,SUBN,NISSA,0535P,BLK,2002
4,FL,PAS,51,SUBN,SUBAR,0320P,GRAY,2005
5,NY,PAS,63,SUBN,CHEVR,1102A,WHT,2010
6,NY,PAS,45,SDN,NISSA,0606P,BLK,2002
7,NY,OMS,14,SDN,TOYOT,1250P,BLACK,2022
8,NY,PAS,20,SUBN,HONDA,1031A,RED,2005
9,NY,PAS,27,SDN,NISSA,0607P,BLACK,2022

In [24]:
df.dtypes

Registration State    object
Plate Type            object
Violation Code         int64
Vehicle Body Type     object
Vehicle Make          object
Violation Time        object
Vehicle Color         object
Vehicle Year           int64
dtype: object

In [26]:
#seeing how many of each plate type there are
df['Registration State'].value_counts().head(30)

NY    7382832
FL     137208
VA      35581
GA      26919
OH      12615
NJ       9265
IL       9074
99       5567
ME       4726
AL       4568
PA       4009
NH       3849
VT       3806
MN       3503
KY       1902
CT       1589
LA       1582
TX       1401
MS       1064
IN        877
MA        762
AR        756
MT        708
NC        655
CA        628
IA        545
TN        468
KS        321
AZ        284
DE        270
Name: Registration State, dtype: int64

In [28]:
#creating a dictionary for plate types for custom encoding. Only top 8 wil lbe uniquely encoded. Remaining will be under 'other'
plate_types = {
    'PAS': 0,
    'COM': 1,
    'OMT': 2,
    'SRF': 3,
    'OMS': 4,
    'APP': 5,
    'ORG': 6,
    'SPO': 7
}

states = {
    'NY': 0,
    'FL': 1,
    'VA': 2,
    'GA': 3,
    'OH': 4,
    'NJ': 5
}

#encoding dicts
body_types = {
    'SUBN':0,
    '4DSD':1,
    'VAN':2,
    'PICK':3,
    'DELV':4,
    '2DSD':5,
    'REFG':6,
    'SDN':7
}

make_types = {
    'HONDA':0,
    'FORD':1,
    'TOYOT':2,
    'NISSA':3,
    'CHEVR':4,
    'ME/BE':5,
    'BMW':6,
    'JEEP':7,
    'FRUEH':8,
    'HYUND':9,
    'SUBAR':10,
    'LEXUS':11
}

In [29]:
#jc
df['Plate Type'] = df['Plate Type'].apply(lambda x: plate_types[x] if (x in plate_types) else 8)
df['Registration State'] = df['Registration State'].apply(lambda x: states[x] if (x in states) else 6)

#aw
df["body_type"] = df["Vehicle Body Type"].apply(lambda x: body_types[x] if x in body_types else 8)
df["make_type"] = df["Vehicle Make"].apply(lambda x: make_types[x] if x in make_types else 12)

In [30]:
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type
0,0,0,67,SDN,TOYOT,1037A,BLK,2004,7,2
1,0,0,51,SUBN,JEEP,1045A,GRAY,2017,0,7
2,0,0,67,SUBN,TOYOT,1205P,WHITE,2021,0,2
3,0,0,98,SUBN,NISSA,0535P,BLK,2002,0,3
4,1,0,51,SUBN,SUBAR,0320P,GRAY,2005,0,10
5,0,0,63,SUBN,CHEVR,1102A,WHT,2010,0,4
6,0,0,45,SDN,NISSA,0606P,BLK,2002,7,3
7,0,4,14,SDN,TOYOT,1250P,BLACK,2022,7,2
8,0,0,20,SUBN,HONDA,1031A,RED,2005,0,0
9,0,0,27,SDN,NISSA,0607P,BLACK,2022,7,3

In [31]:
#removing Violation time data without AM PM indicators
df['Violation Time len'] = df['Violation Time'].apply(len)
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len
0,0,0,67,SDN,TOYOT,1037A,BLK,2004,7,2,5
1,0,0,51,SUBN,JEEP,1045A,GRAY,2017,0,7,5
2,0,0,67,SUBN,TOYOT,1205P,WHITE,2021,0,2,5
3,0,0,98,SUBN,NISSA,0535P,BLK,2002,0,3,5
4,1,0,51,SUBN,SUBAR,0320P,GRAY,2005,0,10,5
5,0,0,63,SUBN,CHEVR,1102A,WHT,2010,0,4,5
6,0,0,45,SDN,NISSA,0606P,BLK,2002,7,3,5
7,0,4,14,SDN,TOYOT,1250P,BLACK,2022,7,2,5
8,0,0,20,SUBN,HONDA,1031A,RED,2005,0,0,5
9,0,0,27,SDN,NISSA,0607P,BLACK,2022,7,3,5

In [32]:
len(df)

7659315

In [33]:
df = df.loc[df["Violation Time len"] == 5]
len(df)

7659299

In [34]:
df['Violation Time'] = df['Violation Time']+"M"
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len
0,0,0,67,SDN,TOYOT,1037AM,BLK,2004,7,2,5
1,0,0,51,SUBN,JEEP,1045AM,GRAY,2017,0,7,5
2,0,0,67,SUBN,TOYOT,1205PM,WHITE,2021,0,2,5
3,0,0,98,SUBN,NISSA,0535PM,BLK,2002,0,3,5
4,1,0,51,SUBN,SUBAR,0320PM,GRAY,2005,0,10,5
5,0,0,63,SUBN,CHEVR,1102AM,WHT,2010,0,4,5
6,0,0,45,SDN,NISSA,0606PM,BLK,2002,7,3,5
7,0,4,14,SDN,TOYOT,1250PM,BLACK,2022,7,2,5
8,0,0,20,SUBN,HONDA,1031AM,RED,2005,0,0,5
9,0,0,27,SDN,NISSA,0607PM,BLACK,2022,7,3,5

In [35]:
#removing violation time not in 24:00hr format
df['violation_hour'] = df["Violation Time"].astype(str).str[:2].astype(int)
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len,violation_hour
0,0,0,67,SDN,TOYOT,1037AM,BLK,2004,7,2,5,10
1,0,0,51,SUBN,JEEP,1045AM,GRAY,2017,0,7,5,10
2,0,0,67,SUBN,TOYOT,1205PM,WHITE,2021,0,2,5,12
3,0,0,98,SUBN,NISSA,0535PM,BLK,2002,0,3,5,5
4,1,0,51,SUBN,SUBAR,0320PM,GRAY,2005,0,10,5,3
5,0,0,63,SUBN,CHEVR,1102AM,WHT,2010,0,4,5,11
6,0,0,45,SDN,NISSA,0606PM,BLK,2002,7,3,5,6
7,0,4,14,SDN,TOYOT,1250PM,BLACK,2022,7,2,5,12
8,0,0,20,SUBN,HONDA,1031AM,RED,2005,0,0,5,10
9,0,0,27,SDN,NISSA,0607PM,BLACK,2022,7,3,5,6

In [36]:
df = df.loc[df["violation_hour"] <= 24]
len(df)

7659294

In [37]:
#correcting space (' ') to '0' in violation time 
df['Violation Time'] = df['Violation Time'].replace(' ', '0', regex=True)
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len,violation_hour
0,0,0,67,SDN,TOYOT,1037AM,BLK,2004,7,2,5,10
1,0,0,51,SUBN,JEEP,1045AM,GRAY,2017,0,7,5,10
2,0,0,67,SUBN,TOYOT,1205PM,WHITE,2021,0,2,5,12
3,0,0,98,SUBN,NISSA,0535PM,BLK,2002,0,3,5,5
4,1,0,51,SUBN,SUBAR,0320PM,GRAY,2005,0,10,5,3
5,0,0,63,SUBN,CHEVR,1102AM,WHT,2010,0,4,5,11
6,0,0,45,SDN,NISSA,0606PM,BLK,2002,7,3,5,6
7,0,4,14,SDN,TOYOT,1250PM,BLACK,2022,7,2,5,12
8,0,0,20,SUBN,HONDA,1031AM,RED,2005,0,0,5,10
9,0,0,27,SDN,NISSA,0607PM,BLACK,2022,7,3,5,6

In [38]:
#convert to violation time to dataetime format
df["Violation Time"] = pd.to_datetime(df["Violation Time"], format='%H%M%p' ).dt.strftime('%H:%M %p')
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type,Violation Time len,violation_hour
0,0,0,67,SDN,TOYOT,10:37 AM,BLK,2004,7,2,5,10
1,0,0,51,SUBN,JEEP,10:45 AM,GRAY,2017,0,7,5,10
2,0,0,67,SUBN,TOYOT,12:05 PM,WHITE,2021,0,2,5,12
3,0,0,98,SUBN,NISSA,05:35 AM,BLK,2002,0,3,5,5
4,1,0,51,SUBN,SUBAR,03:20 AM,GRAY,2005,0,10,5,3
5,0,0,63,SUBN,CHEVR,11:02 AM,WHT,2010,0,4,5,11
6,0,0,45,SDN,NISSA,06:06 AM,BLK,2002,7,3,5,6
7,0,4,14,SDN,TOYOT,12:50 PM,BLACK,2022,7,2,5,12
8,0,0,20,SUBN,HONDA,10:31 AM,RED,2005,0,0,5,10
9,0,0,27,SDN,NISSA,06:07 AM,BLACK,2022,7,3,5,6

In [39]:
df.drop(columns=['Violation Time len','violation_hour'], axis=1, inplace=True)
df.head()

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year,body_type,make_type
0,0,0,67,SDN,TOYOT,10:37 AM,BLK,2004,7,2
1,0,0,51,SUBN,JEEP,10:45 AM,GRAY,2017,0,7
2,0,0,67,SUBN,TOYOT,12:05 PM,WHITE,2021,0,2
3,0,0,98,SUBN,NISSA,05:35 AM,BLK,2002,0,3
4,1,0,51,SUBN,SUBAR,03:20 AM,GRAY,2005,0,10

Registration State          int64
Plate Type                  int64
Violation Code              int64
Vehicle Body Type          object
Vehicle Make               object
Vehicle Expiration Date     int64
Violation Time             object
Vehicle Color              object
Vehicle Year                int64
body_type                   int64
make_type                   int64
dtype: object