In [23]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('Resources/cleaned_data.csv')
df = df.drop(['Unnamed: 0'], axis = 1)

In [24]:
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Location,Violation Time,Street Name,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,20221210,10.0,1037A,W 28TH ST,BLK,2004
1,NY,PAS,51,SUBN,JEEP,20220908,10.0,1045A,27TH DR,GRAY,2017
2,NJ,PAS,63,SDN,JEEP,0,1.0,1116A,SOUTH ST,GRAY,0
3,NJ,PAS,63,SDN,HYUND,0,1.0,1107A,SOUTH ST,BLUE,0
4,NY,PAS,67,SUBN,TOYOT,20230120,5.0,1205P,COLEMAN PLAYGROUND,WHITE,2021
5,NY,PAS,98,SUBN,NISSA,20230121,10.0,0535P,S/S W 28TH STREET,BLK,2002
6,NJ,PAS,10,SUBN,JEEP,0,6.0,0307P,WASHINGTON SQ SO,RED,0
7,PA,PAS,10,SUBN,NISSA,0,6.0,0225P,WASHINGTON SQUARE SO,GY,0
8,FL,PAS,51,SUBN,SUBAR,20230713,1.0,0320P,SOUTH ST,GRAY,2005
9,NY,PAS,63,SUBN,CHEVR,20230103,1.0,1102A,SOUTH ST,WHT,2010

In [25]:
df.dtypes

Registration State          object
Plate Type                  object
Violation Code               int64
Vehicle Body Type           object
Vehicle Make                object
Vehicle Expiration Date      int64
Violation Location         float64
Violation Time              object
Street Name                 object
Vehicle Color               object
Vehicle Year                 int64
dtype: object

In [26]:
#seeing how many of each plate type there are
df['Plate Type'].value_counts().head(30)

PAS    4264652
COM     765509
OMT     116867
SRF      49597
999      38824
OMS      37960
APP      29187
LMB      17275
TRC       9921
CMB       8112
ORG       8016
MOT       7482
SPO       6965
MED       5509
OMR       4261
ITP       2555
RGL       2441
TRL       1656
TOW       1546
VAS       1318
DLR       1115
SCL       1070
SRN        920
HIS        873
OML        817
TRA        695
MCL        537
NYC        494
ORC        295
IRP        278
Name: Plate Type, dtype: int64

In [27]:
#creating a dictionary for plate types for custom encoding. Only top 8 wil lbe uniquely encoded. Remaining will be under 'other'
plate_types = {
    'PAS': 1,
    'COM': 2,
    'OMT': 3,
    'SRF': 4,
    '999': 5,
    'OMS': 6,
    'APP': 7,
    'LMB': 8
}

In [28]:
df['Plate Type'] = df['Plate Type'].apply(lambda x: plate_types[x] if (x in plate_types) else 9)

In [30]:
df['Plate Type'].value_counts()

1    4264652
2     765509
3     116867
9      68465
4      49597
5      38824
6      37960
7      29187
8      17275
Name: Plate Type, dtype: int64