In [20]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('../Resources/cleaned_data.csv')
df = df.drop(['Unnamed: 0'], axis = 1)

In [21]:
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Location,Violation Time,Street Name,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,20221210,10.0,1037A,W 28TH ST,BLK,2004
1,NY,PAS,51,SUBN,JEEP,20220908,10.0,1045A,27TH DR,GRAY,2017
2,NJ,PAS,63,SDN,JEEP,0,1.0,1116A,SOUTH ST,GRAY,0
3,NJ,PAS,63,SDN,HYUND,0,1.0,1107A,SOUTH ST,BLUE,0
4,NY,PAS,67,SUBN,TOYOT,20230120,5.0,1205P,COLEMAN PLAYGROUND,WHITE,2021
5,NY,PAS,98,SUBN,NISSA,20230121,10.0,0535P,S/S W 28TH STREET,BLK,2002
6,NJ,PAS,10,SUBN,JEEP,0,6.0,0307P,WASHINGTON SQ SO,RED,0
7,PA,PAS,10,SUBN,NISSA,0,6.0,0225P,WASHINGTON SQUARE SO,GY,0
8,FL,PAS,51,SUBN,SUBAR,20230713,1.0,0320P,SOUTH ST,GRAY,2005
9,NY,PAS,63,SUBN,CHEVR,20230103,1.0,1102A,SOUTH ST,WHT,2010

In [22]:
df.dtypes

Registration State          object
Plate Type                  object
Violation Code               int64
Vehicle Body Type           object
Vehicle Make                object
Vehicle Expiration Date      int64
Violation Location         float64
Violation Time              object
Street Name                 object
Vehicle Color               object
Vehicle Year                 int64
dtype: object

In [23]:
#seeing how many of each plate type there are
df['Registration State'].value_counts().head(30)

NY    3930448
NJ     507453
PA     174913
FL     106709
CT      90862
IN      73723
GA      60740
MA      44334
TX      41997
VA      38353
MD      31752
NC      30127
CA      25415
IL      20892
OH      18266
ME      17955
AZ      17128
TN      13144
99      11745
SC      11476
MN       9432
DE       9175
WA       9169
VT       7675
AL       7458
MI       7397
RI       6900
NH       5758
WI       5580
OK       5070
Name: Registration State, dtype: int64

In [24]:
#creating a dictionary for plate types for custom encoding. Only top 8 wil lbe uniquely encoded. Remaining will be under 'other'
plate_types = {
    'PAS': 1,
    'COM': 2,
    'OMT': 3,
    'SRF': 4,
    '999': 5,
    'OMS': 6,
    'APP': 7,
    'LMB': 8
}

states = {
    'NY': 1,
    'NJ': 2,
    'PA': 3,
    'FL': 4,
    'CT': 5,
    'IN': 6,
    'GA': 7
}

In [25]:
df['Plate Type'] = df['Plate Type'].apply(lambda x: plate_types[x] if (x in plate_types) else 9)
df['Registration State'] = df['Registration State'].apply(lambda x: states[x] if (x in states) else 8)

In [28]:
df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Vehicle Expiration Date,Violation Location,Violation Time,Street Name,Vehicle Color,Vehicle Year
0,1,1,67,SDN,TOYOT,20221210,10.0,1037A,W 28TH ST,BLK,2004
1,1,1,51,SUBN,JEEP,20220908,10.0,1045A,27TH DR,GRAY,2017
2,2,1,63,SDN,JEEP,0,1.0,1116A,SOUTH ST,GRAY,0
3,2,1,63,SDN,HYUND,0,1.0,1107A,SOUTH ST,BLUE,0
4,1,1,67,SUBN,TOYOT,20230120,5.0,1205P,COLEMAN PLAYGROUND,WHITE,2021
5,1,1,98,SUBN,NISSA,20230121,10.0,0535P,S/S W 28TH STREET,BLK,2002
6,2,1,10,SUBN,JEEP,0,6.0,0307P,WASHINGTON SQ SO,RED,0
7,3,1,10,SUBN,NISSA,0,6.0,0225P,WASHINGTON SQUARE SO,GY,0
8,4,1,51,SUBN,SUBAR,20230713,1.0,0320P,SOUTH ST,GRAY,2005
9,1,1,63,SUBN,CHEVR,20230103,1.0,1102A,SOUTH ST,WHT,2010